<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Música</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Pesquisar Música Chicokê</h1>
    <form id="searchForm">
        <input type="text" id="query" placeholder="Digite uma palavra ou frase">
        <button type="submit">Pesquisar</button>
    </form>
    <div id="results"></div>
    <script src="/static/scripts.js"></script>
</body>
</html>
